*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
height: 100vh;
width:100vw;
overflow: hidden;
display: grid;
align-items: center;
}
.container{
    height:fit-content;
    width:40%;
    margin: 0 auto;
}
.head{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}
.form-container{
 height:fit-content;
 width:100%;
 background-color: cadetblue;
 box-shadow: 0px 0px 12px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 gap:2em;
 padding:1rem 1rem;
}
.subject-container{
   display: flex;
   flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    padding-top: 2rem;
}
.btn{
 width:fit-content;
 margin:0 auto;
transition:all 0s;
padding:0.5rem;
}
input{
    border:1.5px solid black;
    padding:0.2rem;
}
.btn:hover{
    background-color: black;
    color:aliceblue;
}
.display{
    text-align: center;
}
@media (max-width:500px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .head{
        margin-left: -0.5rem;
        font-size: 1.5rem;
        font-weight: 800;
    }
    .display{
        font-size: 1rem;
        margin-left: -0.5rem;
    }
    .subject-container input{
        width:2rem;
    }

}